body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, Helvetica, Aerial, sans-serif;
  color: #fff; }

header {
  display: block;
  background-color: #366FEF;
  min-height: 400px;
  width: 100%; }

header .container {
  padding: 50px 60px; }

#logo {
  float: left;
  width: 40%;
  position: relative;
  display: inline-block; }

#logo-image {
  position: absolute;
  display: inline-block;
  width: 37px;
  height: 42px;
  background-image: url(../images/logo.png); }

#logo span {
  margin-left: 55px;
  color: #fff;
  font-size: 28px;
  line-height: 50px; }

#header-title {
  display: block;
  padding-top: 120px;
  left: 10%;
  width: 100%;
  max-width: 700px;
  font-size: 40px;
  font-weight: Bold; }

#header-subtitle {
  line-height: 34px;
  font-size: 30px;
  font-weight: normal;
  padding-top: 36px;
  padding-bottom: 34px; }

#instructions {
  background-color: #FC7A74;
  width: 100%; }

#instructions-title {
  padding-top: 30px;
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  top: 25%; }

.step {
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 30px; }
  .step .title {
    font-weight: 500;
    font-size: 26px;
    padding-bottom: 12px; }
  .step .instruction {
    font-weight: 300;
    font-size: 23px; }
  .step img {
    padding-top: 30px;
    display: block; }